<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EnhWeb AnagularJS APP</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .row{
            border:1px solid #cccccc;
        }
        .col-[*] {
            border: 1px solid yellow;
        }
    </style>
</head>
<body>
    <div class="container" ng-app="EnhWebApp">
        <div ng-controller="myController1" class="row">
            <div>myController1</div>
            <ul>
                <li class="col-md-4" ng-repeat="item in Industrys" ng-click="alert(item.id);">
                    <img ng-src="item.filepath" height="100" width="100" />
                    <h3>{{item.industryname}}</h3>
                </li>
            </ul>
        </div>
        <div ng-controller="myController2" class="row">myController2</div>
        <div ng-controller="myController3" class="row">myController3</div>
    </div>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/i18n/angular-locale_zh-cn.js"></script>
    <script src="Scripts/loading-bar.min.js"></script>
    <script src="Content/EnhWebApp/EnhWebApp.js"></script>
    <script src="Content/EnhWebApp/controllers/EnhWebApp.myController1.js"></script>
    <script src="Content/EnhWebApp/controllers/EnhWebApp.myController2.js"></script>
    <script src="Content/EnhWebApp/controllers/EnhWebApp.myController3.js"></script>
</body>
</html>